#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}


.read-the-docs {
  color: #888;
}


.custom-md-editor .w-md-editor {
  width: 1275px; 
  min-height: 1646px;
  
  line-height: 1.6;
  
  border-radius: 5px;
  color: #000000;
  box-shadow: none;
  background-color: #ffffff;
  outline: none;
}

.custom-md-editor .save-button{
  margin-right: 800px;
  background-color: rgb(90, 90, 90);
  color: rgb(255, 255, 255);
  
}


/* Text color for input */
.custom-md-editor .w-md-editor-text{
  width: 500px; 
  height: 1056px;
  border:#000000;
  font-size: 500px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}


/* Text color for output */
.custom-md-editor .wmde-markdown {
  color: rgb(0, 0, 0);
  background-color: #ffffff;  
}

/* color for the table button in toolbar */
.wmde-markdown table{
  color: white;
}




/* Toolbar container */
.custom-md-editor .w-md-editor-toolbar {
  display: flex;
  justify-content: center;
  padding: 20px 0px;
  width: auto;
  height: auto;           /* Change toolbar height */
  background-color: #000000; /* Optional background color */
  color: black;
}



