#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.editor-container {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 20px;
  gap: 40px;
}

.markdown-input {
  width: 816px;
  min-height: 1056px;
  padding: 60px 70px;
  font-size: 16px;
  line-height: 1.6;
  border-radius: 4px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2), 0 5px 20px rgba(0, 0, 0, 0.15);
  background: #fff;
  outline: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: left;
  z-index: 2;
  caret-color: black;
}

.markdown-preview {
  width: 816px;
  min-height: 1056px;
  padding: 60px 70px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2), 0 5px 20px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  line-height: 1.6;
  color: black;
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}